
# clock pin for Basys2 Board
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;

# LEDs
NET "count[3]" LOC="N14" | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "count[2]" LOC="J13" | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "count[1]" LOC="K15" | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "count[0]" LOC="H17" | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14

# Switches
NET "reset" LOC="L16" | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
NET "ce" 	LOC="J15" | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
NET "clk"   LOC="N17" | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
